[submodule "py_lsc_amr"]
	path = py_lsc_amr
	url = leif@denby.eu:git-repos/py_lsc_amr
[submodule "pysolver"]
	path = pysolver
	url = leif@denby.eu:git-repos/pysolver
[submodule "lsc_tasker"]
	path = lsc_tasker
	url = leif@denby.eu:git-repos/lsc_tasker
